.App {
  text-align: center;
}

/* Header */
.header {
  background-color: #a62b1f;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.actions button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

button.danger {
  background-color: white;
  color: #a62b1f;
}

button.primary {
  background-color: white;
  color: #a62b1f;
}
